
/* -------------------TABLET------------------- */
@media screen and (min-width: 768px) {
    /* common */
    .container {
        width: 90%;
    }

    .container.small {
        width: 70%;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: .5rem;
    }

    .demo-section .col {
        width: calc(100% / 3 - (1rem));
        margin: 0;
    }

    .demo-section .col:first-child {
        width: calc((100% / 3) * 2 - (.5rem));
    }

    /* ******************planning section */
    .planning .col,
    .testimonial .col {
        width: 100%;
    }

    /* *********************testimonial */
    .testimonial .col {
        margin-bottom: 1rem;
    }

    .testimonial-card {
        display: flex;
    }

    .testimonial-text {
        flex-basis: 80%;
        text-align: left;
        padding: 2rem .9rem 0;
    }

    /* --------------------benefit section */
    .benefits .col {
        width: 48%;
    }

    /* --------------------about us section */
    .about-us .col:first-child {
        width: 58%;
    }
    .about-us .col:last-child {
        width: 40%;
    }

}

/* -------------------DESKTOP------------------- */

@media screen and (min-width: 992px) {
   /* common */
    .container {
        width: 70%;
        max-width: 800px;
    }

    .container.small {
        width: 40%;
        max-width: 600px;
    }

    /*------------------ header nav bar */
    #nav-hamb {
        display: none;
    }

    .nav-menu {
        display: flex;
    }
    
    /* -----------------------demo section */
    .demo-section .col:first-child {
        display: flex;
        align-items: flex-end;
    }

     /*-------------------- planning section */
    .planning .wrapper {
        align-items: flex-end;
    }    

     .planning .col {
        width: 48%; 
    }    
    
    .download-app img {
        max-width: 180px;
    }    
    /* ------------------------benefit section */
    .benefits .col {
        width: 32%;
    }

    /* ***********************FONT STYLE */
    .description h2 {
        padding-top: 6rem;
    }
}