/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6em;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
    color: inherit;
}

/* COMMON */
.container {
    width: 90%;
    margin: 0 auto;
}
   

section {
    padding: 2rem 0;
    text-align: center;
}

.col {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
} 

.download-app,
.testimonial .col {
    border-radius: 35px;
}

/* **********************UTILITIES */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}    

.center {
    align-items: center;
} 

.bgnd {
    background-color: var(--section-color);
    color: white;
}  

.circle {
    border-radius: 50%;
}

/* HEADER */
header {
    background-color: var(--header-color);
    padding: .8em 0;
    color: white;
}    

.nav-menu {
    display: none;
}

.nav-menu li:not(:first-child) {
    margin-left: 1rem;
}

.nav-bar-button {
    background-color: white;
    color: black;
    padding: .4rem 1rem;
    border-radius: 20px;
}

/* MAIN */
/* demo section */
.demo-section .col {
    background-color: var(--col-bgnd-color);
    text-align: left;
}

.demo-img {
    position: relative;
    top: 24px;
    max-width: 200px;
}

.demo-title {
    margin-bottom: 1rem;
    color: var(--header-color);
}

.demo-sub-title {
    margin-bottom: 1rem;
    color: #796e6e;
    font-weight: 600;
}

.col.small-card {
    text-align: center;
} 

.small-card-icon {
    font-size: 4rem;
    color: var(--header-color);
    margin-bottom: 1rem;
}

.big-button {
    color: white;
    background-color: var(--header-color);
    display: inline-block;
    padding: .4rem 2.4rem;
    border-radius: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}

/* planning section */
.planning {
    padding: 1rem 0;
}

.download-app {
    background-color: white;
    padding: 1.5rem 0;
}

.download-app .circle {
    width: 40px;
    height: 40px;
    margin: 1rem auto 0;
    color: black;
    text-align: center;
    line-height: 40px;
}

/* testimonial section */
.testimonial .circle{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* benefit section */
.benefits .wrapper {
    padding: 1rem 0;
}

.benefits .col {
    background-color: white;
    color: black;
}

.benefits-button {
    width: 140px;
    border-radius: 20px;
    letter-spacing: 2px;
    padding: .4rem .8rem;
    text-align: center;
    background-color: var(--section-color);
    color: white;
}

/* about us section */
.about-us .col {
    padding: 0;
}

.about-us-text {
    text-align: left;
}

.manager-img {
    width: 150px;
    position: relative;
    
}

.hard-quote {
    position: absolute;
    font-size: 3.5rem;
    top: -5px;
    right: -4px;
    color: var(--section-color);
}

.linkedin-btn {
    padding: .6rem;
    border-radius: 20px;
    margin-top: 20px;
    width: 180px;
    color: white;
    background-color: var(--section-color);
}

.linkedin-btn .fa-linkedin {
    margin-right: 6px;
}

/* get started section */
.start-btn {
    width: 80%;
    max-width: 200px;
    border-radius: 40px;
    padding: .8rem 0;
    margin: 0 auto;
    font-weight: bold;
    color: var(--section-color);
    background-color: white;
}

.privacy {
    text-decoration-line: underline;
}

/* *****************************FOOTER */
footer {
    background-color: var(--footer-color);
    color: white;
    padding: 2rem 0;
    text-align: center;
}

footer a {
    color: var(--section-color);
    text-decoration: underline;
}

.footer-subtitle {
    margin-bottom: 3rem;
}

/* *******************************COLOR */
:root {
    --header-color: #0084FD;
    --col-bgnd-color: #B5DDFF;
    --section-color: #9792E4;
    --free-text: #FDC15F;
    --footer-color: #333333;
}

/* *****************PADDING & STYLE*********  */
/* planning */
.description {
    text-align: left;
    padding-top: 2rem;
}

.description h2 {
    padding: 3rem 0 2rem;
}

.download-app {
    color: black;
}

.download-app h2 {
    padding: 1rem 0;
}

.download-app p {
    font-style: italic;
    font-weight: 400;
    padding: 0 1rem;
}

/* testimonial */
.testimonial h3 {
    font-weight: 400;
    font-size: 1rem;
}

.testimonial h2,
.about-us-text h2 {
    color: var(--section-color);
    padding: 2rem 0;
    font-size: 2rem;
}

.testimonial-description {
    line-height: 2em;
}

.quote {
    font-size: 1.4rem;
    padding: 0 .4rem;
}

.testimonial-card h2 {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
}

/* benefit */
.benefits-card {
    color: var(--section-color);
    text-align: left;
}

.benefits-number {
    font-size: 2.4rem;
    padding: 1rem 0;
}

.benefits-description {
    color: #796e6e;
    padding: 1rem 0;
}

/* about us */
.about-us-text p {
    padding-bottom: 2rem;
}

.manager-text {
    margin-top: 10px;
    text-align: left;
    font-weight: 600;
    line-height: 1.4em;
    font-size: 1.8rem;
    color: var(--section-color);
}

/* get started */
.started-content h2 {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.527);
}

.spot {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2em;

}

.free {
    font-size: 3.5rem;
    font-weight: bold;
    padding: 3rem 0;
    color: var(--free-text);
}

.start-info {
    padding-bottom: 1.5rem;
}

.copyright {
    padding-top: 2rem;
}