/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}    

.center {
    align-items: center;
}    

section {
    padding: 2rem 0;
    text-align: center;
}

.col {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
} 

.planning .col,
.testimonial .col {
    border-radius: 35px;
}

.bgnd {
    background-color: var(--section-color);
    color: white;
}    

/* HEADER */
header {
    background-color: var(--header-color);
    padding: .8em 0;
}    

/* MAIN */
/* demo section */

.demo-section .col {
    background-color: var(--col-bgnd-color);
}

/* planning section */
.planning {
    padding: 1rem 0;
}

/* benefit section */
.benefits .wrapper {
    padding: 1rem 0;
}

.benefits .col {
    background-color: white;
    color: black;
}

/* about us section */
.about-us .col {
    padding: 0;
}

/* FOOTER */
footer {
    background-color: var(--footer-color);
    color: white;
    padding: 2rem 0;
    text-align: center;
}

footer a {
    color: var(--section-color);
    text-decoration: underline;
}

.footer-subtitle {
    margin-bottom: 3rem;
}

/* COLOR */
:root {
    --header-color: #0084FD;
    --col-bgnd-color: #B5DDFF;
    --section-color: #9792E4;
    --free-text: #FDC15F;
    --footer-color: #333333;
}